<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>환율 그래프</title>
</head>
<body>

{#  <select name="nation" >#}
{#    <option value="none">=== 선택 ===</option>#}
{#    <option value="usd">USD</option>#}
{#    <option value="eur">EUR</option>#}
{#    <option value="cnh">CNH</option>#}
{#  </select>#}

<div id="container">

    <script src="https://code.highcharts.com/stock/highstock.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>

        function setChart() {
            Highcharts.setOption({
                global: {
                    useUTC: false
                },

            });
        };

        $.ajax({
            url: "{% url 'predict_kospi_api' %}",
            dataType: 'json',
            success: function (data) {

                Highcharts.setOptions({
                    lang: {
                        rangeSelectorZoom: ''
                    },
                    global: {
                        useUTC: false
                    }
                });

                Highcharts.stockChart("container", {

                    chart: {
                        height: 500,
                        backgroundColor: '#101010'
                    },
                    credits: {enabled: false},
                    title: {
                        text: '환율 그래프',
                        y: 25,
                        margin: 5,
                        style: {
                            fontWeight: 'bold',
                            color: '#fff'
                        }
                    },

                    rangeSelector: {
                        selected: 5,
                        inputEnabled: false,
                    },

                    xAxis: {
                        type: 'datetime',
                        labels: {
                            style: {
                                color: '#fff'
                            },
                            formatter: function () {
                                return Highcharts.dateFormat('%y.%m.%d', this.value);
                            },
                            step: 3,
                            y: 25,
                        },
                    },

                    yAxis: {
                        labels: {
                            format: '{value}',
                            style: {
                                color: '#fff',
                            },
                            x: -10,
                        },
                        opposite: false,
                        tickInterval: 50,
                    },

                    tooltip: {
                        xDateFormat: '%Y-%m-%d',
                        split: true
                    },

                    series: [

                        {
                            name: 'USD',
                            data: data.usd,
                            color: 'rgba(0,200,0,.6)',
                            lineWidth: 3,

                        },
                        {
                            name: 'EUR',
                            data: data.eur,
                            lineWidth: 3
                        },
                        {
                            name: 'JPY',
                            data: data.jpy,
                            lineWidth: 3,
                            color: 'rgba(450,100,0,.6)',
                        }
                    ],
                    legend: {
                        enabled: true,
                        align: 'right',
                        verticalAlign: 'top',
                        floating: true,
                        x: 0,
                        y: 0,
                        itemStyle: {
                            color: '#ffd'
                        }
                    },

                    responsive: {
                        rules: [{
                            condition: {
                                maxWidth: 600
                            },
                            chartOptions: {
                                chart: {
                                    height: 300
                                },
                                navigator: {
                                    enabled: false
                                }
                            }
                        }]
                    }

                });
            }
        });

    </script>
</div>
</body>
</html>
